<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Detail Page </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
</head>
     <link rel="stylesheet" href="/css/style1.css">

  </head>

  <body>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
               <div class="tab-pane active" id="pic-2"><img src="https://experience-fresh.panasonic.eu/wp-content/uploads/2018/12/Paneer_Tikka_Masala_enjoy_181205.jpg" /></div>
						  <div class="tab-pane " id="pic-1"><img src="https://i1.wp.com/vegecravings.com/wp-content/uploads/2018/06/Paneer-Tikka-Masala-Recipe-Step-By-Step-Instructions.jpg?fit=3826%2C3036&quality=65&strip=all&ssl=1" /></div>
						 
						  <div class="tab-pane" id="pic-3"><img src="https://c.ndtvimg.com/2019-09/tlps304o_paneer_625x300_24_September_19.jpg" /></div>
						  <div class="tab-pane" id="pic-4"><img src="https://www.cookwithkushi.com/wp-content/uploads/2016/02/IMG_8317_-1.jpg" /></div>
						  <div class="tab-pane" id="pic-5"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcCMHw-lFwiJuq1_CyhnFc2OUi7dqPXtfsEg&usqp=CAU" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
               <li class="active"><a data-target="#pic-2" data-toggle="tab"><img src="https://experience-fresh.panasonic.eu/wp-content/uploads/2018/12/Paneer_Tikka_Masala_enjoy_181205.jpg" /></a></li>
						  <li><a data-target="#pic-1" data-toggle="tab"><img src="https://i1.wp.com/vegecravings.com/wp-content/uploads/2018/06/Paneer-Tikka-Masala-Recipe-Step-By-Step-Instructions.jpg?fit=3826%2C3036&quality=65&strip=all&ssl=1" /></a></li>
						 
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="https://c.ndtvimg.com/2019-09/tlps304o_paneer_625x300_24_September_19.jpg" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="https://www.cookwithkushi.com/wp-content/uploads/2016/02/IMG_8317_-1.jpg" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcCMHw-lFwiJuq1_CyhnFc2OUi7dqPXtfsEg&usqp=CAU" /></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{restaurant.name}}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">
North Indian, Chinese, South Indian, Street Food, Ice Cream, Beverages</p>
	<p class="product-description">
  {{restaurant.Location.landmark}}, {{restaurant.Location.city}}</p>
  <p class="product-description">
 {{restaurant.openingTime}} – {{restaurant.closingTime}}</p>
 <p class="product-description">Food will available between above time only</p>
  	<div>
							<button class="add-to-cart btn btn-default" type="button" data-toggle="modal" data-target="#myModal"><span class="fa fa-star"></span> Add Reviews</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
				</div><br>
        	</div>
		</div>
	</div><br>

  <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Overview')">Overview</button>
  <button class="tablinks" onclick="openCity(event, 'Online Order')">Online Order</button>
  <button class="tablinks" onclick="openCity(event, 'Review')">Review</button>
  <button class="tablinks" onclick="openCity(event, 'Menu')">Menu</button>
  <button class="tablinks" onclick="openCity(event, 'Photos')">Photos</button>
</div>

<div id="Overview" class="tabcontent">
  <h3>About this place</h3>
  <p><h4>Know For</h4></p>
   <p><h5> serving a combo of unlimited pizzas, desserts and a beverage</h5></p>

  <h3>Popular Dishes</h3>
   <p><h5>Herbed Potato Wedges, Chicken Stuffed Pizza, Wasabi Chicken, Sweet Pizza, Coconut Choux, Thiramisu</h5></p>
</div>


<div id="Online Order" class="tabcontent">
  <h3></h3>
  <p></p> 
</div>

<div id="Review" class="tabcontent">
  <h3></h3>
  <p></p>
</div>
<div id="Menu" class="tabcontent">
  <h3></h3>
  <p></p>
</div>
<div id="Photos" class="tabcontent">
  <h3></h3>
  <p></p>
</div>
</div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="margin-left: 235px;
    font-size: 25px;">Review</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <h2 id="fh2">WE APPRECIATE YOUR REVIEW!</h2>
<h6 id="fh6">Your review will help us to improve our web hosting quality products, and customer services.</h6>


<form id="feedback"  action="">

 <div class="pinfo">Rate our overall services.</div>
  
<div class="form-group">
  <div class="col-md-4 inputGroupContainer" style="width: 100%;">
  <div class="input-group">
  <span class="input-group-addon" style="font-size : 14px"><i class="fa fa-heart"></i></span>
   <select class="form-control" id="rate" name="stars">
      <option value="1star">1</option>
      <option value="2stars">2</option>
      <option value="3stars">3</option>
      <option value="4stars">4</option>
      <option value="5stars">5</option>
    </select>
    </div>
  </div>
</div>

 <div class="pinfo" style="margin-top: 60px;">Write your feedback.</div>
  
<div class="form-group">
  <div class="col-md-4 inputGroupContainer" style="width: 100%;">
  <div class="input-group">
  <span class="input-group-addon" style="height: 70px; font-size : 14px"><i class="fa fa-pencil"></i></span>
  <textarea class="form-control" style="height: 70px;" id="review" rows="3" name="comment"></textarea>
 
    </div>
  </div>
</div>

 <button type="submit" class="btn btn-primary" id="btn-submit" style="margin-top: 60px;
    margin-left: 15px;
    width: 80px;
    height: 30px;
    font-size: 12px;">Submit</button>

</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<script>

  document.getElementById('btn-submit').onclick = function(e){
                e.preventDefault();
                const form = document.getElementById('feedback');
                
                // getting the element's value
                const stars = form.elements['rate'].value;
                const comment = form.elements['review'].value;

                const data = {
                  stars : parseInt(stars),
                  comment : comment
                }

                axios.post(
                  'http://localhost:8080/api/v1/addnewreview?userId=1&restaurantId=2',
                   data,
                ).then(res => {
                  console.log(res)
                })
                .catch(err => {
                  console.log(err.response.data)
                })
              }

function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
  </body>
</html>
