<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Food</title>
  </head>
  <body>
    <div class="restaurants">
      <div class="search-box">
        <div class="input-container">
          <div class="locality">
            <i class="fa fa-map-marker"></i>
            <select class="location" name="location" id="location" onchange="getRestaurants()"></select>
            </div>
            <div class="divider"></div>
              <form action="#" class="search-bar" onsubmit="searchRestaurants()">
                <i class="fa fa-search"></i>
                <input type="text" class="search" placeholder="Search restaurant or dish">
                <input type="submit">
              </form>
        </div>
      </div>

      <div class="filters">
        <div class="filter-container">
          <i class="fa fa-filter"></i>
          Filters
        </div>
        <div class="filter-container">
          Great offers
        </div>
        <div class="filter-container">
          Rating
          <i class="fa fa-angle-down"></i>
        </div>
      </div>

      <div class="main-heading">
        <h2 class="heading">Popular restaurants near you</h2>
      </div>

      <div class="cards">
          {{#each restaurants}}
              <div class="rest-card" data-restaurantid={{this.id}} onclick="showRestaurant(this.dataset.restaurantid)">
              <div class="rest-img">
                <img src={{this.image}} alt=""/>
                <div class="rating">4 <i class="fa fa-star"></i></div>
              </div>
                  <h4 class="rest-heading">{{this.name}}</h4>
                  <p class="rest-address">{{this.Location.landmark}}, {{this.Location.city}}</p>
                  <p class="rest-time">{{this.openingTime}} - {{this.closingTime}}</p>
              </div>
          {{/each}}
      </div>

      <div class="main-heading">
        <h2 class="heading">Our picks for you</h2>
      </div>

      <div class="cards">
          {{#each menuitems}}
              <div class="menu-card">
                  <div class="menu-img">
                    <img src={{this.image}} alt=""/>
                  </div>
                  <div class="menu-details">
                    <div class="details-left">
                      <h4 class="menu-heading">{{this.name}}</h4>
                      <p class="menu-desc">{{this.description}}</p>
                    </div>
                    <div class="details-right">
                      <p class="menu-price">&#8377; {{this.price}}</p>
                      <div class="add-menu"><i class="fa fa-plus"></i></div>
                    </div>
                  </div>
              </div>
          {{/each}}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
    <script>

      let locationElem = document.getElementById("location")

      window.addEventListener("load",()=>{
        axios.get("/api/v1/locations").then(({data})=>{
        return data.locations
        }).then((locations)=>{
          // console.log(locations)
          locations.forEach((loc)=>{
              let optionElem = document.createElement("option");
              optionElem.className = "locationOptions";
              optionElem.text=loc.city;
              optionElem.value=loc.id;
              locationElem.appendChild(optionElem)
          })
        }).then(()=>{
          // Setting a value of select element to the location
          locationElem.value = window.location.pathname.split("/")[4]
        })
      })

      function getRestaurants(){
        let locationId = locationElem.value
        let url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}/api/v1/restaurantsbylocation/${locationId}`
        window.location = url
      }

      function showRestaurant(restaurantid){
        // console.log(restaurantid)
        let url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}/api/v1/retaurantsdetails/${restaurantid}`     
        window.location=url;
      }

      function searchRestaurants(){
        console.log("Search query");
      }
    </script>
  </body>
</html>